pipeline/master_daily_Ihs_Analytics.json
{
	"name": "master_daily_Ihs_Analytics",
	"properties": {
		"activities": [
			{
				"name": "start_load_job",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "start_load_job",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"GroupId": 6,
						"ParentRunId": 1
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "start_load_job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "BusinessDate",
					"value": {
						"value": "@formatDateTime(\n    addDays(convertFromUtc(utcNow(), 'Mountain Standard Time'), -1),\n    'yyyy-MM-dd'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Landing to Bronze",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01 - core_dispatcher",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParentRunId": {
							"value": "@activity('start_load_job').output.pipelineReturnValue.ReturnRunId",
							"type": "Expression"
						},
						"SourceFolderSuffix": {
							"value": "@variables('BusinessDate')",
							"type": "Expression"
						},
						"TargetFolderSuffix": {
							"value": "@variables('BusinessDate')",
							"type": "Expression"
						},
						"GroupName": "LHSAnalytics_Bronze_Daily",
						"SourceFileSuffix": {
							"value": "@concat('_',variables('BusinessDate'))",
							"type": "Expression"
						},
						"TypeName": "adls_to_adls"
					}
				}
			},
			{
				"name": "end_load_job",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Landing to Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "end_load_job",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@activity('start_load_job').output.pipelineReturnValue.ReturnRunId",
							"type": "Expression"
						}
					}
				}
			}
		],
		"concurrency": 3,
		"variables": {
			"BusinessDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "02 - LHS Analytics"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-11T20:24:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}